body {
  font-family: Arial, Verdana, sans-serif;
  background-color: rgb(250, 244, 231);
  align-items: center;
  justify-content: center;
}

header {
  padding: auto;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  position: relative;
  left: 0;
}

.logo {
  width: 15vh;
}

.button {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: white;
  background: wheat;
  padding: 0.5em 1.25em;
}

.header-button {
  right: 0;
  bottom: 0;
}

.intro {
  background: wheat;
  padding: 1em;
  font-size: medium;
}

grid.container {
  display: inline-grid;
}
